{% block commonJS %}
    <script>
        jQuery(document).ready(function () {

            var config = {
                configname:"lightConfig",
                toolbar:
                        [
                            { name: 'basicstyles', items : [ 'Bold','Italic','Underline','Strike','Subscript','Superscript' ] },
                            { name: 'paragraph',   items : [ 'NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'] },
                            '/',
                            { name: 'styles',      items : [ 'Font','FontSize' ] },
                            { name: 'colors',      items : [ 'TextColor','BGColor' ] },
                            { name: 'switch',      items : [ 'Switch' ] }
                        ],
                height: 100,
                allowedContent: true
            };
            $('textarea.simpleEditor').ckeditor(config);

            $('.nextStepPopup').click(function(){
                if($('[data-champname="nom"]').val() != ""){
                    $('.contentDocInfos').hide();
                    $('.contentDocRess').show();
                }else{
                    $('[data-champname="nom"]').addClass('champError');
                }
            });
            $('[data-champname="nom"]').on('input', function(){
                $('[data-champname="nom"]').removeClass('champError');
            });
            $('.allSelected').click(function(){
                setTimeout(function(){
                    if($('.allSelected').closest('li').hasClass('selected')){
                        $('.selectpicker').selectpicker('selectAll');
                    }else{
                        $('.selectpicker').selectpicker('deselectAll');
                    }
                }, 100)

            });

            $('.deleteDoc').click(function() {
                var docId = $(this).closest('[data-docId]').attr('data-docId');
                $.ajax({
                    type: 'POST',
                    url: "{{path('deleteDocument_ajax')}}",
                    async: false,
                    dataType: "json",
                    data: {
                        id: docId
                    },
                    success: function (data) {
                        window.location.href = window.location.href;
                    },
                    error: function (xhr, status, error) {
                    }
                });
            });
            $('.infoDocument').click(function(){
                if($(this).hasClass('infoDocActived')){
                    $('.infoDocActived').removeClass('infoDocActived');
                    $('.descriptionPPline').remove();
                }else{
                    var docId = $(this).closest('[data-docId]').attr('data-docId');
                    var ligne = $(this).closest('tr');
                    var myBtn = $(this);
                    $.ajax({
                        type: 'POST',
                        url: "{{path('getDoc_ajax')}}",
                        async: false,
                        dataType: "json",
                        data: {
                            id: docId
                        },
                        success: function (data) {
                            $('.infoDocActived').removeClass('infoDocActived');
                            myBtn.addClass('infoDocActived');
                            $('.descriptionPPline').remove();
                            ligne.after('<tr class="descriptionPPline"><td colspan="2" class="descriptionDocLineUC">DESCRIPTION</td><td colspan="4">'+data['description']+'</td></tr>')
                        },
                        error: function (xhr, status, error) {
                        }
                    });
                }
            });
            $('.btnDocOpen').click(function(){
                var doc = $(this).closest('[data-docId]');

                $.ajax({
                    type: 'POST',
                    url: "{{path('userOpenDoc_ajax')}}",
                    async: false,
                    dataType: "json",
                    data: {
                        id: doc.attr('data-docId')
                    },
                    success: function (data) {
                        doc.removeClass('trIsNew');
                    },
                    error: function (xhr, status, error) {
                    }
                });
            });
        });
    </script>
{% endblock %}