<p>Bonjour {{ prenom }} {{ nom }}!</p>


{{ contenuDocuments }}

<p>Merci!</p>
<p>L'équipe AFADEC</p>
<p><a class="studitBlueFC" href="mailTo:contact.afadec@gmail.com">contact.afadec@gmail.com</a></p>