<h3>Votre compte est bien créé !</h3>

<p>Bonjour {{ prenom }} {{ nom }}! Votre compte est bien créé.</p>
<p>Pour l'activer, veuillez cliquer sur ce lien : <a href="activation?id={{ id }}">Lien d'activation</a>
<p>Vous pourrez ensuite vous authentifier sur <a href="http://www.e-educmaster.com">la page d'accueil de la plateforme AFADEC</a></p>

<p>Merci!</p>
<p>L'équipe AFADEC</p>