{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div>{{ template }}</div>
    <div class="page-header">
        <div class="container">
            <h2 class="color3">Utilisateurs</h2>
            <ul class="breadcrumb">
                <li class="color3">Gestion des profils</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <script>
        jQuery(document).ready(function () {

        });
    </script>

    <div class="container mt-100 mb-40">
        <div class="row">

        </div>
    </div>
{% endblock %}