<div class="btnActionCol col-md-1">
    <ul>
        <li>
            {% if val.zones.containers[keyR].isVisible %}
                <i class="activationBtn fa fa-check-square-o"></i>
            {% else %}
                <i class="activationBtn fa fa-square-o"></i>
            {% endif %}
        </li>
        <li><i class="fa fa-pencil "></i></li>
        <li><i class="btnMoveElem fa fa-arrows-alt "></i></li>
        <li><i class="btnDeleteElem fa fa-trash "></i></li>
    </ul>
</div>