<div class="btnActionCol col-md-1">
    <ul>
        <li class="myBtn btnLeft btnActivationCheck">
            {% if visible == "true" %}
                <i class="activationBtn fa fa-check-square-o"></i>
            {% else %}
                <i class="activationBtn fa fa-square-o"></i>
            {% endif %}
        </li>
        <li class="btnLeft">
            <span class="myBtn btnMoveUp btnCoteCote"><i class="fa fa-arrow-up"></i></span>
            <span class="myBtn btnMoveDown btnCoteCote"><i class="fa fa-arrow-down"></i></span>
        </li>
        <li class="btnLeft">
            <span class="myBtn btnMoveTotalUp btnCoteCote"><i class="fa fa-angle-double-up"></i></span>
            <span class="myBtn btnMoveTotalDown btnCoteCote"><i class="fa fa-angle-double-down"></i></span>
        </li>
        <li class="myBtn btnDelete btnLeft btnDeleteElem"><i class="fa fa-reply-all"></i></li>
        <li class="myBtn btnDelete btnLeft btnSupprElem"><i class="fa fa-times"></i></li>
    </ul>
</div>