<div class="btnActionCol col-md-1">
    <ul>
        <li class="myBtn btnLeft btnActivationCheck">
            {% if visible == "true" %}
                <i class="activationBtn fa fa-check-square-o"></i>
            {% else %}
                <i class="activationBtn fa fa-square-o"></i>
            {% endif %}
        </li>
        <li class="myBtn btnMoveUp btnLeft"><i class="fa fa-arrow-up"></i></li>
        <li class="myBtn btnMoveDown btnLeft"><i class="fa fa-arrow-down"></i></li>
        <li class="myBtn btnDelete btnLeft btnDeleteElem"><i class="fa fa-trash"></i></li>
        <li class="myBtn btnDelete btnLeft btnSupprElem"><i class="fa fa-times"></i></li>
    </ul>
</div>