body{
    padding-top: 0px;
}
body{
    color: #373737;
    font-family: 'Montserrat', sans-serif;
}

.loginError{
    color: #c70700;
}

/* footer */
.quick-links > li > a{
    color: #d3d3d3
}
.footer-pri{
    border-top: 5px solid #121826;
    background-color: #9e9b9b;
    padding: 0;
}

.footer-sec{
    background-color: #121826;
    padding: 10px 0px 0px;
}

/* nav */
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.nav-stacked {
    padding: 0px;
    margin-right: 10px;
    position: relative;
    z-index: 3;
    /*width: 100%;*/
}

.mt-0{margin-top:0px;}
.mb-0{margin-bottom:0px;}
.pt-0{padding-top:0px;}
.pb-0{padding-bottom:0px;}

.mb-3{margin-bottom:3px;}

.mt-10{margin-top:10px;}
.mb-10{margin-bottom:10px;}
.pt-10{padding-top:10px;}
.pb-10{padding-bottom:10px;}

.ml-10{margin-left:10px;}
.ml-20{margin-left:20px;}
.pb-20{padding-bottom:20px;}

.mt-140 {
    margin-top: 140px;
}

a { font-family: inherit; color: inherit; }


.badge-error {background-color: #b94a48;}
.badge-error:hover {background-color: #953b39;}
.badge-warning {background-color: #f89406;}
.badge-warning:hover {background-color: #c67605;}
.badge-success {background-color: #468847;}
.badge-success:hover {background-color: #356635;}
.badge-info {background-color: #3a87ad;}
.badge-info:hover {background-color: #2d6987;}
.badge-inverse {background-color: #333333;}
.badge-inverse:hover {background-color: #1a1a1a;}

.btnLien{
    font-size: 18px;
    padding: 4px 24px;
}

/* zonesRessource */
/*.courseElems *{
    padding: 0;
    display: block;
}*/
.btnActionCol, .btnActionCol *, .LabelAdmin, .listeItemContained{
    padding: 0;
    display: block;
}
.noPadding{
    padding: 0;
}
.noMargin{
    margin: 0;
}
.courseElemAdmin{
    margin-bottom: 20px;
    border-bottom: dashed 3px #456d94;
    padding-bottom: 20px !important;
}
.courseElemAdmin::before, .courseElem::before{
    content: none !important;
}
.titleBar{
    text-align: center;
    color: #fff;
    padding: 5px;
    font-family: "Montserrat",sans-serif;
    margin-bottom: 5px;
    border-radius: 2px;
}
.lienAdmin .titleBar{
    background: #0ba204;
}
.devoirAdmin .titleBar{
    background: #ff3f46;
}
.groupeLiensAdmin .titleBar{
    background: #0048a2;
}
.freeAdmin .titleBar{
    background: #a29820;
}
.myBtn{
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btnActionCol li, .btnAdmin{
    margin-bottom: 5px;
    background: #ff9c00;
    padding: 0;
}
.btnZoom{
    background: #0ca200 !important;
}
.btnDelete:not(.btnSupprElem){
    background: #c64d34 !important;
}
.btnEdit{
    background: #006ca2 !important;
}
.btnSupprElem{
    background: #7907c6 !important;
}
.btnRight{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.btnLeft{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btnAlone{
    border-radius: 3px;
}
.btnActionCol i, .btnAdmin i{
    line-height: 26px;
    font-size: 20px;
}
.adminSectionRow .btnActionCol i, .adminSectionRow .btnAdmin i{
    line-height: 32px;
}
.inlineBtn{
    display: inline-block;
    padding: 5px 8px;
}

.formCol{
    border: 2px solid #d1d1d1;
    background: #e9e9e9;
    min-height: 150px !important;
    padding: 3px 6px !important;
    display: flex;
    flex-direction: column;
}
.formCol>.row{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
    flex: 1;
}
.LabelAdmin{
    font-weight: bold;
    line-height: 26px;
}
.champAdmin{
    padding: 1px 5px !important;
    border: 1px solid #aaa;
}
.champAdmin.champError{
    box-shadow: 1px 1px 2px 2px rgba(198, 16, 0, 0.5) inset;
}
textarea{
    resize: none;
}
textarea[readonly]{
    background: none;
    width: 100%;
}

.ui-state-highlight {
    min-height: 30px;
    background: #b3d271;
    border: #a8c769 2px solid;
    margin-bottom: 20px;
    width:90%;
}

.textarea{
    background: #E8E8E8;
}

.courseElems .courseElemAdmin:first-child .btnMoveUp, .courseElems .courseElemAdmin:last-child .btnMoveDown{
    display: none;
}

.hrCourseElem{
    border-color: #aaa;
    border-style: none none dashed;
    border-width: 0 0 2px;
    width: 100%;
}

.dureeSelect .form-control{
    height: 32px;
}
.dureeSelect .btn{
    padding: 6px 15px
}

[data-isvisible="false"] .titleBar, [data-isvisible="false"] .formCol, [data-isvisible="false"] .myBtn:not(.btnActivationCheck){
    opacity: .3;
}

/* popup ajout ressources */
.tableAddItem{
    width:100%;
}
.tableAddItem tr.item>td{
    padding: 10px;
}
.tableAddItem tr.item>td:last-child{
    width: 70px;
}
.tableAddItem tr.item:nth-child(even) {
    background-color: #f2f2f2
}

.tableDetailItem td{
    padding: 5px;

}
.nomChamp{
    font-family: "Oswald",sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

/* popup ajout lien dans groupe */
#btnNewLienInGroupeModal{
    text-align: center;
}
[data-contentmodal=devoirDisplay] .bginverse,
[data-contentmodal=uploadFile] .bginverse,
[data-contentmodal=ajoutLienToGroupe] .bginverse,
[data-contentmodal=editLienInGroupe] .bginverse{
    padding: 3px;
}
.alertMustBeSet{
    box-shadow: 1px 2px 5px 3px rgba(255, 0, 0, 0.7);
}
.couleurLabelOption, .typeLabelOption{
    padding: 10px;
    border-radius: 3px;
    color: #fff;
}
.typeLabelOption{
    color: #aaa;
    font-size: 16px;
}
.typeLabelOption i{
    font-size: 20px;
}
.MyBtnSelectPickeer{
    background-color: #fff;
    border: 2px solid #ccc;
}
.tableAddNewLienInGroup{
    text-align: left;
    width:100%;
    margin-bottom: 10px;
}
.tableAddNewLienInGroup .bootstrap-select{
    padding-left: 0;
}

/* Admin du cours*/
/* sections */
.ongletAdmin:not(.active) > a{
    color: #f89406 !important;
}
.ongletAdmin.active > a{
    background-color: #f89406 !important;
}
.ongletAdmin.active > a::after{
    border-color: transparent transparent transparent #f89406 !important;
}
.adminSectionRow input[data-champName="nom"]{
    height: 32px;
}
.btnAdmin.btnSaveInputChange{
    background: #00A0D1;
}
.inEdition{
    border: 4px solid #00A0D1;
}
.btnAddSection{
    background: #aaa;
    cursor: default;
}
.btnAddSection.actif{
    background: #92d26a;
    cursor: pointer;
}
.nomSectionAddInput.inEdition{
    border: 4px solid #92d26a;
}
.btnMove{
    background: #9179ef;
}


/* cours */
.courseElem{
    list-style: none;
}
.itemInfos{
    display: inline-block;
    vertical-align: top;
}
.itemHeader{
    font-family: "Oswald",sans-serif;
    font-size: 15px;
    color: #333;
}
.itemTitle{
    color: #000;
    font-size: 20px;
}
.itemDescription{
    font-size: 15px;
    color: #AAAAAA;
}
.alignR{
    margin-left: 50px;
}
.ressourceLink{
    margin-bottom: 5px;
    background: #ff9c00;
    cursor: pointer;
    border-radius: 3px;
    padding-bottom: 2px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    width:35px;
    display: inline-block;
    vertical-align: top;
}

/* CRUD DES ITEMS */
.listeItemContained{
    background: #fff;
    border:#aaa 1px solid;
}
.listeItemContained.notEditable{
    background: none;
}
.listeItemContained .row{
    padding: 5px;
    border-bottom: dashed #bbb 1px;
    margin: 0;
}
.detailIconTypeLien{
    text-align: center;
    font-size: 20px;
}

/*  */

.progress{
    margin-bottom: 0;
}

/*  CALENDRIER  */
.tooltipevent{
    width:200px;
    background:#555;
    color:#fff;
    position:absolute;
    z-index:10001;
    padding: 10px;
    border-radius: 4px;
    font-family: "Oswald",sans-serif;
    letter-spacing: +0.03em;
}

/* Etudiant Devoir */
.devoirCptRenduTable{
    width: 100%;
}
.devoirCptRenduTable td{
    padding-bottom: 10px;
}
/* Etudiant popupDevoir */

[data-contentmodal=devoirDisplay] .popupDevoirNom{
    font-family: "Oswald",sans-serif;
    font-size: 150%;
}
[data-contentmodal=devoirDisplay] .popupDevoirDescription{
    font-family: 'Montserrat', sans-serif;
    color: #888;
    font-size: 14px;
    font-style: italic;
}
.contentDevoirRess{
    position: relative;
    padding: 20px;
}
.masqueDevoir{
    z-index: 10;
    background: #000;
    opacity: .85;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.chronometre{
    margin-top: 20px;
    font-size: 42px;
    text-align: center;
    color: #c60100;
}
.chrono_elem{
    padding: 5px;
}


/* documents */
.documentsDisc:not([data-activated="1"]) .course-media,
.documentsDisc:not([data-activated="1"]) label,
.documentsDisc:not([data-activated="1"]) .resumeDocs,
.documentsDisc:not([data-activated="1"]) .heading{
    opacity: .3;
}
.course-list{
    width: 100%;
}
.fa-3{
    font-size: 6em;
}
.contentDocRess{
    height: 100px;
    padding-top: 20px;
}
.contentDocInfos{
    padding: 10px 20px;
}
.filter-option{
    color: #aaa;
}
.infoDocument{
    color: #0da500;
    font-size: 17px;
    cursor: pointer;
    margin-left: 15px;
}
.infoDocument:hover{
    opacity: .8;
}
.infoDocActived{
    color: #2aabd2;
}
.descriptionPPline{
    background: #eee;
}
.descriptionDocLineUC{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.couleurDocOption{
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    float: right;
    margin-top: -5px;
}
.couleurAdminOption{
    background: #ff9c00;
}
.couleurEnsOption{
    background: #2aabd2;
}
.newDocsPuce{
    background: #d1252c;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    border-radius: 20px;
}
.newDocsP{
    margin: 10px 0px;
}
.iconeNewDoc{
    background: #d1252c;
    color: #fff;
    font-size: 15px;
    margin-left: 15px;
    border-radius: 20px;
    padding: 2px;
}