body{
    padding-top: 0px;
}
body{
    color: #373737;
    font-family: 'Libre Baskerville', serif;
}

/* footer */
.quick-links > li > a{
    color: #d3d3d3
}
.footer-pri{
    border-top: 5px solid #121826;
    background-color: #9e9b9b;
    padding: 0;
}

.footer-sec{
    background-color: #121826;
    padding: 10px 0px 0px;
}

/* nav */
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.nav-stacked {
    padding: 0px;
    margin-right: 10px;
    position: relative;
    z-index: 3;
    /*width: 100%;*/
}

.mt-0{margin-top:0px;}
.mb-0{margin-bottom:0px;}
.pt-0{padding-top:0px;}
.pb-0{padding-bottom:0px;}

.mt-10{margin-top:10px;}
.mb-10{margin-bottom:10px;}
.pt-10{padding-top:10px;}
.pb-10{padding-bottom:10px;}

.mt-140 {
    margin-top: 140px;
}

a { font-family: inherit; color: inherit; }


.badge-error {background-color: #b94a48;}
.badge-error:hover {background-color: #953b39;}
.badge-warning {background-color: #f89406;}
.badge-warning:hover {background-color: #c67605;}
.badge-success {background-color: #468847;}
.badge-success:hover {background-color: #356635;}
.badge-info {background-color: #3a87ad;}
.badge-info:hover {background-color: #2d6987;}
.badge-inverse {background-color: #333333;}
.badge-inverse:hover {background-color: #1a1a1a;}

.btnLien{
    font-size: 18px;
    padding: 4px 24px;
}

/* zonesRessource */
.courseElems *{
    padding: 0;
    display: block;
}
.courseElemAdmin{
    margin-bottom: 20px;
    border-bottom: dashed 3px #456d94;
    padding-bottom: 20px !important;
}
.courseElemAdmin::before, .courseElem::before{
    content: none !important;
}
.titleBar{
    text-align: center;
    color: #fff;
    padding: 5px;
    font-family: "Montserrat",sans-serif;
    margin-bottom: 5px;
    border-radius: 2px;
}
.lienAdmin .titleBar{
    background: #0ba204;
}
.devoirAdmin .titleBar{
    background: #ff3f46;
}
.groupeLiensAdmin .titleBar{
    background: #0048a2;
}
.freeAdmin .titleBar{
    background: #a29820;
}
.myBtn{
    cursor: pointer;
    text-align: center;
    color: #fff;
}
.btnActionCol li, .btnAdmin{
    margin-bottom: 5px;
    background: #ff9c00;
}
.btnDelete:not(.btnSupprElem){
    background: #c64d34 !important;
}
.btnEdit{
    background: #006ca2 !important;
}
.btnSupprElem{
    background: #7907c6 !important;
}
.btnRight{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.btnLeft{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btnAlone{
    border-radius: 3px;
}
.btnActionCol i, .btnAdmin i{
    line-height: 26px;
    font-size: 20px;
}
.adminSectionRow .btnActionCol i, .adminSectionRow .btnAdmin i{
    line-height: 32px;
}
.inlineBtn{
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

.formCol{
    border: 2px solid #d1d1d1;
    background: #e9e9e9;
    min-height: 150px !important;
    padding: 3px 6px !important;
    display: flex;
    flex-direction: column;
}
.formCol>.row{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
    flex: 1;
}
.LabelAdmin{
    font-weight: bold;
}
.champAdmin{
    padding: 1px 5px !important;
    border: 1px solid #aaa;
}
textarea{
    resize: none;
}

.ui-state-highlight {
    min-height: 30px;
    background: #b3d271;
    border: #a8c769 2px solid;
    margin-bottom: 20px;
    width:90%;
}

.textarea{
    background: #E8E8E8;
}

.sectionDrop{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    font-family: "Oswald",sans-serif;
    height: 100%;
}
.zoneDrop{
    flex:1;
    background: #fff;
    border: 4px dashed #888;
    border-radius: 15px;
    height: 100%;
}

.courseElems .courseElemAdmin:first-child .btnMoveUp, .courseElems .courseElemAdmin:last-child .btnMoveDown{
    display: none;
}

/* popup ajout ressources */
.tableAddItem{
    width:100%;
}
.tableAddItem tr.item>td{
    padding: 10px;
}
.tableAddItem tr.item>td:last-child{
    width: 70px;
}
.tableAddItem tr.item:nth-child(even) {
    background-color: #f2f2f2
}

.tableDetailItem td{
    padding: 5px;

}
.nomChamp{
    font-family: "Oswald",sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}


/* Admin du cours*/
/* sections */
.ongletAdmin:not(.active) > a{
    color: #f89406 !important;
}
.ongletAdmin.active > a{
    background-color: #f89406 !important;
}
.ongletAdmin.active > a::after{
    border-color: transparent transparent transparent #f89406 !important;
}
.adminSectionRow input[data-champName="nom"]{
    height: 32px;
}
.btnAdmin.btnSaveInputChange{
    background: #00A0D1;
}
.inEdition{
    border: 4px solid #00A0D1;
}
.btnAddSection{
    background: #aaa;
    cursor: default;
}
.btnAddSection.actif{
    background: #92d26a;
    cursor: pointer;
}
.nomSectionAddInput.inEdition{
    border: 4px solid #92d26a;
}
.btnMove{
    background: #9179ef;
}


/* cours */
.courseElem{
    list-style: none;
}
.itemInfos{
    display: inline-block;
    vertical-align: top;
}
.itemNom{
    font-family: "Oswald",sans-serif;
    font-size: 120%;
}
.itemDescription{
    font-size: 14px;
    font-style: italic;
    color: #AAAAAA;
}
.alignR{
    margin-left: 50px;
}
.ressourceLink{
    margin-bottom: 5px;
    background: #ff9c00;
    cursor: pointer;
    border-radius: 3px;
    padding-bottom: 2px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    width:35px;
    display: inline-block;
    vertical-align: top;
}

/* CRUD DES ITEMS */
.listeLiensGroupe{
    background: #fff;
    border:#aaa 1px solid;
}
.listeLiensGroupe.notEditable{
    background: none;
}
.listeLiensGroupe .row{
    padding: 5px;
    border-bottom: dashed #bbb 1px;
    margin: 0;
}
.detailIconTypeLien{
    text-align: center;
    font-size: 20px;
}