<div class="col-sm-8
    {% if app.user %}
        col-sm-push-2
    {% else %}
        col-sm-pull-4
    {% endif %}
mt-40">
    <h2 class="heading">À LA <span class="color2">UNE</span></h2>
    <div class="row mt-40 mb-40 bgcolor3">
        <div class="col-sm-5"><img class="img-responsive " src="medias/actu01.jpg"></div>
        <div class="col-sm-7">
            <h6>Les évêques invitent à retrouver le sens du politique</h6>
            <p class="font8">Dans un monde qui change, retrouver le sens du politique... Sous ce titre, un ouvrage publié ce vendredi 14 octobre, par les évêques de France, invite à refonder un nouveau contrat social qui soit réellement fédérateur. Contre la sinistrose ambiante, les auteurs pointent l’urgence qu'ils ressentent à fournir à leurs contemporains des charpentes plutôt que des armures ainsi qu'à substituer une culture du dialogue et du compromis à celle de l’affrontement.</p>
        </div>
    </div>
    <div class="row  bgcolor3 pt-20">
        <div class="col-sm-4">
            <figure class="effect-sadie">
                <a href="http://enseignement-catholique.fr/un-nouveau-tutoriel-pour-la-plateforme-reenchanter/">
                    <img src="medias/actu02.png" class="img-responsive" alt="Tutoriel-Reenchanter">
                    <figcaption>
                        <h6 class="img-title">Un nouveau tutoriel pour la plateforme Réenchanter l’École</h6>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure class="effect-sadie">
                <a href="http://enseignement-catholique.fr/de-la-difference-a-la-reconnaissance-10-novembre-2016-au-cese/">
                    <img src="medias/actu03.jpg" class="img-responsive" alt="A Rio, les jeunes ambassadeurs ont tenu des carnets d'écriture">
                    <figcaption>
                        <h6 class="img-title">Rendez-vous inclusif le 10 novembre 2016 au CESE</h6>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure class="effect-sadie">
                <a href="http://enseignement-catholique.fr/priorite-a-mixite-sociale-scolaire/">
                    <img src="medias/actu04.jpg" class="img-responsive wp-post-image" alt="Le secrétaire général de l'enseignement catholique, Pascal Balmand, en conférence de presse le 4 octobre 2016">
                    <figcaption>
                        <h6 class="img-title">Une conférence de presse de rentrée qui invite à un climat pacifié et pacifiant</h6>
                    </figcaption>
                </a>
            </figure>
        </div>
    </div>
</div>