{% extends 'base.html.twig' %}

{% block pageHeader %}

    <div class="page-header">
        <div class="container">
            <h2 class="color3">L’AFADEC</h2>
            <ul class="breadcrumb">
                <li class="color3">E-former les formateur</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% include 'pagesFixes/afadecContent.html.twig' %}

{% endblock %}