{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div class="page-header">
        <div class="container">
            <h2 class="color3">Informations pratiques</h2>
            <ul class="breadcrumb">
                <li class="color3">Concours</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="container mt-100 mb-40">
        <div class="row">
            <div class="col-sm-7 text-justify">
                <h2>LE CRPE ET LE CAFEP</h2>
                <p><b>Les concours externes de recrutement de professeur des écoles (CRPE)</b> pour enseigner dans l’enseignement privé catholique sont spécifiques à l’enseignement privé mais avec les mêmes épreuves, le même programme et le même calendrier que pour l’enseignement public.</p>
                <p>Les enseignants des établissements d’enseignement privé <b>associés à l’État par contrat</b> sont recrutés selon les mêmes modalités et les mêmes exigences que <b>les enseignants de l’enseignement public.</b></p>
                <p>Chaque type de concours est organisé pour l’enseignement public et pour l’enseignement privé. En effet, même s’il s’agit des mêmes épreuves et des mêmes jurys, les concours sont distincts puisqu’ils conduisent à deux « corps » d’enseignants différents.</p>
                <p>C’est <b>au moment de l’inscription au concours</b> que vous choisissez l’enseignement privé sous contrat. Les concours d’enseignement sont à préparer dans les instituts de formation de l’enseignement catholique. Adossés aux universités catholiques ils proposent des Master MEEF et une formation de qualité.</p>
                <p>Par ailleurs, tout candidat souhaitant s’inscrire au CRPE ou au CAFEP pour entrer dans l’enseignement catholique privé sous contrat, <b>doit obligatoirement solliciter un pré-accord</b> auprès de la Commission d'accueil et d'accord collégial (CAAC) de son domicile. Cette demande est à effectuer le plus tôt possible, dès l’inscription en M1.</p>
            </div>
            <div class="col-sm-5">
                {% include "pagesFixes/nousContacter.html.twig" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mb-40 mt-40">
                <img src="{{ asset('images/accueil/concours.jpg') }}" class="" style="max-width: 100%" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-justify">
                <ul class="list-default">
                    <li>
                        <p><b>En premier degré, il existe un seul concours de recrutement, le CRPE :</b></p>
                        <p>Concours de Recrutement des Professeurs des Écoles. <b>Il s’adresse aux étudiants inscrits en master 2</b>, prioritairement master MEEF ainsi qu’aux personnes qui remplissent les conditions pour s’inscrire en deuxième année de Master et celles qui détiennent déjà un diplôme de master (ou un équivalent).</p>
                        <p><a class="studitBlueFC" target="_blank" href="https://www.devenirenseignant.gouv.fr/cid157967/programmes-crpe-session-2022.html">Cliquez pour consulter le détail des épreuves</a></p>
                    </li>
                    <li>
                        <p><b>En second degré, les futurs enseignants sont recrutés par le CAFEP :</b></p>
                        <p>Certificat d’Aptitude aux Fonctions de maître dans les classes du second degré de l’Enseignement Privé. <b>Il s’adresse aux étudiants inscrits en master 2</b> ainsi qu’aux personnes qui remplissent les conditions pour s’inscrire en deuxième année de Master et celles qui détiennent déjà un diplôme de master (ou un équivalent).</p>
                        <p><a target="_blank" class="studitBlueFC" href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000043075486">Cliquez pour consulter les modalités d’organisation</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}