{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div class="page-header">
        <div class="container">
            <h2 class="color3">Informations pratiques</h2>
            <ul class="breadcrumb">
                <li class="color3">QUESTIONS/REPONSES</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="container mt-100 mb-80">
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked pull-left" role="tablist">
                    <li role="presentation" class="active"><a href="#t1body1" aria-controls="t1body1" role="tab"
                                                              data-toggle="tab"><i
                                    class="fa fa-graduation-cap fa-fw"></i> SUR LES CONCOURS DE RECRUTEMENT</a></li>
                    <li role="presentation"><a href="#t1body2" aria-controls="t1body2" role="tab" data-toggle="tab"><i
                                    class="fa fa-chevron-right fa-fw"></i> SUR LE CRPE</a></li>
                    <li role="presentation"><a href="#t1body3" aria-controls="t1body3" role="tab" data-toggle="tab"><i
                                    class="fa fa-chevron-right fa-fw"></i> SUR LE CAFEP</a></li>
                    <li role="presentation"><a href="#t1body5" aria-controls="t1body5" role="tab" data-toggle="tab"><i
                                    class="fa fa-university fa-fw"></i> SUR LE STATUT D’ENSEIGNANT DANS LE PRIVÉ SOUS
                            CONTRAT</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="tab-content text-justify">
                    <div role="tabpanel" class="tab-pane fade in active" id="t1body1">
                        <h6>Si je veux passer le CAFEP, dois-je obligatoirement suivre mes deux années de master MEEF
                            dans un ISFEC&nbsp;?</h6>
                        <p>Le master MEEF est recommandé pour se préparer au mieux au concours. Dans un ISFEC, vous
                            recevrez une préparation spécifique au métier et au concours, gage de réussite. Néanmoins
                            l’accès au concours est aussi possible pour des titulaires d’un autre master. Auquel cas il
                            leur est conseillé de contacter le SAAR (Service d’accueil et d’aide au recrutement) de leur
                            académie.</p>
                        <hr>
                        <h6>Quelles sont les conditions pour pouvoir intégrer un master MEEF&nbsp;?</h6>
                        <p>Les titulaires d’une licence peuvent s’inscrire.</p>
                        <p>Peuvent aussi demander à débuter le parcours du master en M1, les titulaires d’un diplôme
                            équivalent ou d’une expérience jugée équivalente, après validation des acquis. La formation
                            en M2 est ouverte aux étudiants qui ont obtenu les 60 crédits du M1. Même si le master MEEF
                            constitue un parcours cohérent et structuré de formation, on peut accéder en M2 en ayant
                            obtenu les 60 crédits de l’année de M1 dans un autre master.</p>
                        <p>La formation étant partiellement financée par l’État, les frais de scolarité sont réduits au
                            minimum. Ils sont environ de 1500 euros par an. Il est utile de noter qu’en master MEEF le
                            stage en responsabilité de douze semaines est rémunéré pendant douze mois.</p>
                        <hr>
                        <h6>Est-ce que j'aurai le statut d'étudiant lorsque je serais en master MEEF&nbsp;?</h6>
                        <p>Oui, durant les deux années de master.</p>
                        <hr>
                        <h6>Y a-t-il une limite d’âge pour passer le concours&nbsp;?</h6>
                        <p>Aucune limite d’âge. Toutefois, vous ne devrez pas avoir dépassé la limite d'âge légale de la
                            retraite au moment de la titularisation, après accomplissement du stage d'un an. La limite
                            d’âge légale se situe entre 65 et 67 ans en fonction de votre année de naissance.</p>
                        <hr>
                        <h6>Puis-je passer le concours si je n’ai pas la nationalité française&nbsp;?</h6>
                        <p>Vous pouvez vous présenter aux concours si vous êtes ressortissant de l’un des États membres
                            de la Communauté européenne ou de l’espace économique européen.</p>
                        <p>Si vous êtes étranger non ressortissant de la CEE vous pouvez également vous présenter aux
                            concours de recrutement de l’enseignement privé mais la réussite au concours ne suffit pas.
                            Il vous faudra obtenir une autorisation d’enseignement délivrée par le recteur
                            d’académie.</p>
                        <p>Celui-ci prendra en compte la régularité de votre situation vis-à-vis de la préfecture.</p>
                        <p>Vous devez également vous assurer que le diplôme universitaire obtenu dans votre pays
                            d’origine
                            est bien considéré, par la France, comme équivalent au master. Information sur le site :
                            <a target="_blank" class="studitBlueFC" href="http://www.diplomatie.gouv.fr">http://www.diplomatie.gouv.fr</a>
                        </p>
                        <hr>
                        <h6>Est-ce que je peux être salarié tout en préparant mon master&nbsp;?</h6>
                        <p>Oui, il n'y a pas de clause particulière en la matière.</p>
                        <hr>
                        <h6>Mes stages seront-ils rémunérés&nbsp;?</h6>
                        <p>Oui, pour les douze semaines de stage en responsabilité prévus au 2e semestre de M1 (quatre
                            semaines) et au 1er semestre de M2 (huit semaines). Vous serez alors rémunéré pendant douze
                            mois.</p>
                        <hr>
                        <h6>Puis-je m'inscrire au CAFEP ou au CRPE et au CAPES en même temps&nbsp;?</h6>
                        <p>Non, vous devez choisir au moment de l'inscription au concours. Même s’il s’agit des mêmes
                            épreuves et des mêmes jurys, les concours de l’enseignement public et de l’enseignement
                            privé sont distincts.</p>
                        <hr>
                        <h6>Si je rate le concours&nbsp;?</h6>
                        <p>Vous pouvez vous représenter au concours l'année prochaine ou les suivantes.</p>
                        <hr>
                        <h6>Si j'obtiens le concours mais pas le master&nbsp;?</h6>
                        <p>Je conserve le bénéfice du concours pour l'année scolaire prochaine afin de pouvoir repasser
                            le master.</p>
                        <hr>
                        <h6>Puis-je décider de faire un stage pour expérimenter avant de me lancer&nbsp;?</h6>
                        <p>Nos établissements peuvent accueillir des étudiants de licence pour des stages d’observation,
                            afin de leur permettre de découvrir le métier d’enseignant. Vous pouvez vous renseigner
                            directement auprès des établissements scolaires que vous connaissez ou auprès du SAAR le
                            plus proche.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="t1body2">
                        <h6>Quelle est la différence entre le concours CRPE pour enseigner dans le public et le concours
                            pour enseigner dans le privé&nbsp;?</h6>
                        <p>Les concours externes de recrutement de professeur des écoles pour enseigner dans
                            l’Enseignement privé catholique sont spécifiques à l’enseignement privé mais avec les mêmes
                            épreuves, le même programme et le même calendrier que pour l’enseignement public.</p>
                        <hr>
                        <h6>A quel moment doit-on s’inscrire&nbsp;?</h6>
                        <p>Les inscriptions au concours sont à faire au début de l'année universitaire, courant
                            octobre.</p>
                        <hr>
                        <h6>À quel moment se déroulent les épreuves&nbsp;?</h6>
                        <p>Les épreuves écrites d’admissibilité se déroulent en général au printemps et les épreuves
                            d’admission vers la fin de l'année universitaire.</p>
                        <hr>
                        <h6>Lorsque j’ai réussi le concours, suis-je nommé dans mon académie&nbsp;?</h6>
                        <p>En premier degré, le concours de recrutement est académique. Tout lauréat du concours est
                            donc censé pouvoir être nommé dans tout établissement de l’académie d’inscription au
                            concours.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="t1body3">
                        <p>Le CAFEP est un certificat (Certificat d’Aptitude aux Fonctions d’Enseignement dans les
                            établissements d’enseignement privés du 2nd degré sous contrat), les lauréats au concours
                            CAFEP sont inscrits sur une liste d’aptitude.</p>

                        <h6>Quelle est la différence entre le CAFEP et le CAPES&nbsp;?</h6>
                        <p>À l’écrit comme à l’oral, les épreuves sont identiques. Le CAFEP permet de travailler dans un
                            des établissements privés sous-contrat avec l’État.</p>
                        <hr>
                        <h6>Existe-t-il un CAFEP pour l’enseignement technique&nbsp;?</h6>
                        <p>Oui. Vous pouvez vous inscrire au CAFEP/CAPES (enseignement général), au CAFEP/CAPET
                            (enseignement technique), au CAFEP/CAPLP (enseignement professionnel), au CAFEP/CAPEPS
                            (enseignement de l’éducation physique et sportive).</p>
                        <hr>
                        <h6>Est-ce que je peux m’inscrire au CAFEP CAPES et au CAFEP CAPLP la même année&nbsp;?</h6>
                        <p>Oui dès lors que les dates des épreuves écrites ne sont pas identiques. Au titre d’une même
                            session et pour le même concours, on peut s’inscrire à plusieurs sections et/ou options du
                            CAFEP. Ainsi on peut s’inscrire au CAFEP CAPES d’Anglais et au CAFEP CAPLP
                            Lettres-Anglais.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="t1body5">
                        <h6>Dois-je être catholique pour enseigner dans un établissement de l’Enseignement catholique&nbsp;?</h6>
                        <p>Non, il n’est pas nécessaire d’être catholique. Comme indiqué dans l’article 37 du statut de
                        l’Enseignement catholique, « Au nom de l’Evangile, l’école catholique est attachée à la liberté
                        de conscience, à l’écoute des croyances dans leur diversité et accueillante aux différents
                        parcours personnels ». Cependant, les enseignants sont sollicités -s’ils le souhaitent- pour
                            participer à la mise en œuvre du projet pastoral de leur établissement.</p>
                        <hr>
                        <h6>J'ai fait mes études secondaires et universitaires dans le public, ai-je une chance d'être
                            sélectionné&nbsp;?</h6>
                        <p>Bien sûr. Vous êtes le bienvenu. Il faudra pour cela vous inscrire aux concours de
                        l’enseignement privé (CAFEP, CRPE…) et obtenir l’accord collégial.</p>
                        <hr>
                        <h6>Le « préaccord » et « l’accord collégial », qu’est-ce que c’est&nbsp;? Tous les futurs
                            enseignants sont-ils concernés&nbsp;?</h6>
                        <p>Ce sont les deux étapes de la procédure qui permet d’être nommé dans un établissement de
                        l’Enseignement catholique. Cette procédure est nécessaire quel que soit votre parcours (master
                            MEEF, autre master, suppléance) pour enseigner dans notre réseau d’établissements.</p>
                        <p>Le préaccord est un entretien que le futur enseignant passe, avec deux chefs d’établissement. Il
                        s’agit d’évaluer la motivation du candidat pour le métier d’enseignant, et de s’assurer qu’il
                            est bien en accord avec le projet de l’Enseignement catholique.</p>
                        <p>Si vous êtes en master MEEF, ce préaccord est passé durant votre 1re année de master. Si vous
                        suivez un autre master, ou si vous voulez devenir enseignant suppléant, vous devez prendre
                        contact, au moment de l'inscription au concours, ou dès la constitution de votre dossier de
                            suppléance, avec le SAAR (Service d’accueil et d’aide au recrutement) le plus proche.</p>
                        <p>Le préaccord est transformé de manière automatique en accord, sans aucune procédure
                        particulière, lorsque l’étudiant en master MEEF en ISFEC réussit son concours. Pour les
                        enseignants suppléants, ils doivent suivre un module de formation et être évalués positivement
                            lors de leurs 1res suppléances, pour que le préaccord se transforme en accord.</p>
                        <p>Cette procédure garantit :</p>
                        <ul class="list-default">
                            <li>aux enseignants titulaires que l’Enseignement catholique fera le nécessaire pour qu’ils
                                puissent être nommés dans un établissement de son réseau</li>
                            <li>aux enseignants suppléants, le renouvellement de leurs recrutements sur des emplois de
                                remplacement selon les besoins des établissements.</li>
                        </ul>
                        <hr>
                        <h6>Suis-je assuré de rester dans ma région ou ma ville au moment de ma première affectation&nbsp;?</h6>
                        <p>L‘Enseignement catholique s'efforce de proposer au recteur une nomination dans la région où vous
                        postulez, à défaut dans les régions voisines ou celles de votre préférence. 98% des lauréats de
                        concours de l’enseignement privé sont nommés dans l’académie de leur choix.</p>
                        <hr>
                        <h6>Qui sera mon employeur&nbsp;?</h6>
                        <p>Le ministère de l'Éducation nationale sera votre employeur. Vous serez contractuel de droit
                        public exerçant dans un établissement privé sous contrat avec l'État. Toutefois, votre chef
                        d'établissement sera votre supérieur hiérarchique.</p>
                        <hr>
                        <h6>Est-ce que je bénéficierai de la sécurité de l'emploi&nbsp;?</h6>
                        <p>Une fois que vous serez titularisé, votre emploi vous sera assuré par les accords nationaux sur
                        l'emploi. En cas de fermeture d'une classe ou d'un établissement, vous serez prioritaire sur
                        tout emploi vacant dans votre discipline.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}