{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div class="page-header">
        <div class="container">
            <h2 class="color3">Informations pratiques</h2>
            <ul class="breadcrumb">
                <li class="color3">QUESTIONS/REPONSES</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="container mt-100 mb-80">
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked pull-left" role="tablist">
                    <li role="presentation" class="active"><a href="#t1body1" aria-controls="t1body1" role="tab"
                                                              data-toggle="tab"><i
                                    class="fa fa-graduation-cap fa-fw"></i> SUR LES CONCOURS DE RECRUTEMENT</a></li>
                    <li role="presentation"><a href="#t1body2" aria-controls="t1body2" role="tab" data-toggle="tab"><i
                                    class="fa fa-chevron-right fa-fw"></i> SUR LE CRPE</a></li>
                    <li role="presentation"><a href="#t1body3" aria-controls="t1body3" role="tab" data-toggle="tab"><i
                                    class="fa fa-chevron-right fa-fw"></i> SUR LE CAFEP</a></li>
                    <li role="presentation"><a href="#t1body4" aria-controls="t1body4" role="tab" data-toggle="tab"><i
                                    class="fa fa-check fa-fw"></i> SUR LE PRE ACCORD COLLEGIAL</a></li>
                    <li role="presentation"><a href="#t1body5" aria-controls="t1body5" role="tab" data-toggle="tab"><i
                                    class="fa fa-university fa-fw"></i> SUR LE STATUT D’ENSEIGNANT DANS LE PRIVÉ SOUS
                            CONTRAT</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="tab-content text-justify">
                    <div role="tabpanel" class="tab-pane fade in active" id="t1body1">
                        <h6>Diplômes requis pour les concours de recrutement 2018 ?</h6>

                        <p>Les concours externes s'adressent aux étudiants inscrits en master 1 ou master 2 ainsi qu'aux
                            personnes qui remplissent les conditions pour s'inscrire en deuxième année de Master et
                            celles qui détiennent déjà un diplôme de master (ou un équivalent) </p>
                        <hr/>
                        <h6>Age ?</h6>

                        <p>Aucune limite d’âge.</p>
                        <hr/>
                        <h6>Nationalité ?</h6>

                        <p>Vous pouvez vous présenter aux concours si vous êtes ressortissant de l’un des États membres
                            de la Communauté européenne ou de l’espace économique européen.</p>

                        <p>Si vous êtes étranger non ressortissant de la CEE vous pouvez également vous présenter aux
                            concours de recrutement de l’enseignement privé mais la réussite au concours ne suffit pas.
                            Il vous faudra obtenir une autorisation d’enseignement délivrée par le recteur d’académie.
                            Celui-ci prendra en compte la régularité de votre situation vis-à-vis de la préfecture.</p>

                        <p>Vous devez également vous assurer que le diplôme universitaire obtenu dans votre pays
                            d’origine est bien considéré, par la France, comme équivalent au master. Information sur le
                            site : <a href="http://www.diplomatie.gouv.fr/" target="_blank">http://www.diplomatie.gouv.fr.</a>
                        </p>
                        <hr/>
                        <h6>Faut-il être croyant, baptisé(e), chrétien, pratiquant pour entrer dans l’Enseignement
                            catholique ? et si j’appartiens à une autre religion ?</h6>

                        <p>Dans le respect de la liberté de conscience, il n’y a aucune obligation mais tout enseignant,
                            lorsqu’il est accueilli, doit pouvoir connaître et reconnaître les fondements et les visées
                            de l’engagement éducatif de l’école catholique.</p>

                        <p>La proposition éducative spécifique des écoles catholiques repose sur la conception
                            chrétienne de la personne et de son éducation. Elle concerne l’ensemble des enseignants,
                            dans l’exercice concret de leur métier et des échanges avec le chef d’établissement
                            permettent de déterminer la nature et les modalités des engagements pris. </p>
                        <hr/>
                        <h6>Serai-je obligé(e) d’enseigner la catéchèse ?</h6>

                        <p>Vous aurez la liberté d’accepter ou non une proposition du chef d’établissement pour
                            enseigner la catéchèse.</p>
                        <hr/>
                        <h6>Y-a-t-il des conditions particulières pour devenir professeur dans l’Enseignement catholique
                            ?</h6>

                        <p>La nomination dans un établissement d’enseignement privé associé à l’Etat par contrat est
                            soumise à l’accord du chef d’établissement ; en l’occurrence il s’agit d’obtenir un <b>pré-
                                accord </b>donné par la CAAC (Commission d’Accueil et d’Accord Collégial) composée de
                            chefs d’établissements puis <b>l’accord collégial.</b></p>

                        <p>La formation initiale des enseignants de l’enseignement privé associé à l’Etat par contrat
                            est assurée dans le <b>respect du caractère propre.</b> C’est pour cela qu’il convient de
                            suivre cette formation initiale dans le cadre des masters MEEF de l’Enseignement catholique
                            (conçus et réalisés par les universités et instituts catholiques et les instituts supérieurs
                            de formation de l’Enseignement catholique - Isfec) qui préparent aux métiers de
                            l’enseignement, de l’éducation et de la formation.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="t1body2">
                        <p>Les concours externes de recrutement de professeur des écoles pour enseigner dans
                            l’enseignement privé catholique sont spécifiques à l’enseignement privé mais avec les mêmes
                            épreuves, le même programme et le même calendrier que pour l’enseignement public.</p>

                        <p>Les inscriptions au concours sont à faire au début de l'année universitaire, courant Octobre, que vous soyez en M1 ou en M2.</p>

                        <p>Les épreuves écrites d’admissibilité se dérouleront en général au printemps et les épreuves d’admission vers la fin de l'année universitaire.</p>

                        <p>Les candidats ayant réussi le concours sont ensuite professeurs des écoles stagiaires et
                            enseignent dans un établissement catholique d’enseignement sous contrat. Parallèlement ils
                            suivent une formation en alternance dans le cadre de leur deuxième année de master MEEF et
                            assurée par un institut supérieur de formation de l’Enseignement catholique – Isfec.</p>

                        <p>En premier degré, le concours de recrutement est académique. Tout lauréat du concours est
                            donc censé pouvoir être nommé dans tout établissement de l’académie d’inscription au
                            concours.</p>

                        <p>Cependant, afin de faciliter, au maximum, une nomination correspondant aux souhaits des
                            lauréats, leurs vœux de nomination sont recueillis en leur demandant de classer, dans
                            l’ordre de leur choix, les départements de l’académie d’inscription au concours.</p>

                        <p>Les commissions de l’emploi font le maximum pour respecter ces vœux. Cependant, en fonction
                            des emplois disponibles, certains lauréats du concours peuvent se voir proposer un premier
                            emploi dans un département correspondant à leur second ou troisième choix.</p>

                        <p>Très rarement, une proposition d’emploi dans une académie voisine peut être faite.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="t1body3">
                        <p>Le C.A.F.E.P. est un certificat (Certificat d’Aptitude aux Fonctions d’Enseignement dans les
                            établissements d’enseignement privés du 2nd degré sous contrat), les lauréats au concours
                            CAFEP sont inscrits sur une liste d’aptitude.</p>
                        <h6>Quelle est la différence entre le CAFEP et le CAPES ?</h6>

                        <p>À l’écrit comme à l’oral, les épreuves sont identiques. Le CAFEP permet de travailler dans un
                            des établissements privés sous-contrat avec l’État.</p>
                        <hr/>
                        <h6>Existe-t-il un CAFEP pour l’enseignement technique ?</h6>

                        <p>Oui. Vous pouvez vous inscrire au CAFEP/CAPES (enseignement général), au CAFEP/CAPET
                            (enseignement technique), au CAFEP/PLP (enseignement professionnel), au CAFEP/CAPEPS
                            (enseignement de l’éducation physique et sportive).</p>
                        <hr/>
                        <h6>Est-ce que je peux m’inscrire au CAFEP CAPES et au CAFEP PLP la même année ?</h6>

                        <p>Oui dès lors que les dates des épreuves écrites ne sont pas identiques. Au titre d’une même
                            session et pour le même concours, on peut s’inscrire à plusieurs sections et/ou options du
                            CAFEP. Ainsi on peut s’inscrire au CAFEP CAPES d’Anglais et au CAFEP CAPLP
                            Lettres-Anglais.</p>

                        <p>En revanche, on ne peut pas s’inscrire au CAFEP d’Anglais et au CAFEP d’Espagnol
                            simultanément.</p>
                        <hr/>
                        <h6>Y a-t-il un nombre de postes offerts aux concours défini par académie ?</h6>

                        <p>Non. Le nombre de postes est défini au niveau national par discipline.</p>
                        <hr/>
                        <h6>Suis-je assuré(e) de rester dans ma région au moment de ma première affectation ?</h6>

                        <p>Pour les lauréats au concours CAFEP : vous serez nommé sur un support de stage dans un
                            établissement d’enseignement privé associé à l'Etat par contrat en tant que professeur
                            stagiaire. Vous exercerez à mi-temps et suivrez une formation à mi-temps. Vous serez
                            rémunéré à temps complet :</p>
                        <ul class="list-default">
                            <li>L’Enseignement Catholique s’efforce de vous affecter prioritairement dans l’académie.</li>
                            <li>Très exceptionnellement la Commission Nationale d’Affectation peut proposer votre nomination
                                sur un support de stage dans une autre région si aucun support n’est possible pour vous dans
                                votre académie de réussite au concours.</li>
                        </ul>
                        <h3>1<sup>re</sup> nomination sur un emploi pour les professeurs stagiaires titularisés :</h3>
                        <ul class="list-default">
                            <li>L’Enseignement Catholique s’efforce de vous affecter prioritairement dans la région où vous
                                postulez, à défaut dans les régions voisines ou celles de votre préférence.</li>
                            <li>La Commission Nationale d’Affectation (CNA) peut vous proposer un emploi dans une autre
                                région si aucun emploi n’est possible pour vous dans votre académie de voeu.</li>
                        </ul>

                        <p>Le recteur vous nomme, suite à la proposition d’un chef d’établissement.</p>
                        <hr/>
                        <h6>Après avoir réussi le CAFEP, suis-je assuré(e) d’avoir un emploi ?</h6>

                        <p>Oui, si vous avez obtenu l’accord collégial.</p>
                        <hr/>
                        <h6>Pourquoi le ministère ne met-il pas plus de « postes » pour l’accès au CAFEP ?</h6>

                        <p>Le nombre de « postes » définis pour le privé est calculé en fonction du nombre d’emplois
                            disponibles dans chaque discipline.</p>
                        <hr/>
                        <h6>Combien y a-t-il de postes cette année au CAFEP dans ma discipline ?</h6>

                        <p>La liste par discipline est publiée, au Bulletin Officiel (BO), chaque année, avant les
                            épreuves écrites du concours</p>
                        <hr/>
                        <h6>Qui sera mon employeur ?</h6>

                        <p>Le ministère de l’Éducation nationale sera votre employeur. Vous serez contractuel de droit
                            public exerçant dans un établissement privé sous contrat avec l’État. Toutefois, votre chef
                            d’établissement sera votre supérieur hiérarchique.</p>
                        <hr/>
                        <h6>Est-ce que je bénéficierai de la sécurité de l’emploi ?</h6>

                        <p>Une fois que vous serez titularisé, votre emploi vous sera assuré par les accords nationaux
                            sur l’emploi. En cas de fermeture d’une classe ou d’un établissement, vous serez prioritaire
                            sur tout emploi vacant dans votre discipline.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="t1body4">
                        <h6>Qu’est-ce que le préaccord ?</h6>

                        <p>Le pré accord est un engagement :</p>
                        <ul class="list-default">
                            <li>de l’Enseignement catholique à accompagner le candidat dans sa formation, jusqu’à
                                l’obtention d’un emploi.
                            </li>
                            <li>du candidat à se former à la connaissance de l’Institution.</li>
                        </ul>
                        <p>Le préaccord est donné par la CAAC (Commission d’Accueil et d’Accord Collégial) composée de
                            chefs d’établissements.</p>

                        <p>Il a valeur sur tout le territoire national.</p>
                        <hr/>
                        <h6>Quelles questions me seront posées au cours de cet entretien ?</h6>

                        <p>Les chefs d’établissement présentent le projet de l’Enseignement Catholique. Il s’agit pour
                            vous d’exposer les raisons personnelles de votre double choix, celui d’enseignant et celui
                            de l’Enseignement Catholique.</p>

                        <p>Une seule règle pour cet entretien : soyez vous-même ! L’entretien est l’occasion de vérifier
                            si votre projet professionnel est en adéquation avec celui de l’Institution.</p>

                        <p>Les chefs d’établissement apprécieront la pertinence et surtout la sincérité de vos
                            arguments.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="t1body5">
                        <h6>Serai-je fonctionnaire ?</h6>

                        <p>Non. Vous serez contractuel de droit public exerçant dans un établissement privé sous contrat
                            avec l’Etat mais avec le même salaire brut.</p>
                        <hr/>
                        <h6>Est-ce que je bénéficierai de la sécurité de l’emploi ?</h6>

                        <p>Une fois que vous aurez obtenu un contrat définitif, la priorité d’accès aux emplois récents
                            vous sera assurée par la réglementation et les accords nationaux sur l’emploi.</p>

                        <p>Vous pourrez considérer que vous bénéficiez d’une sécurité de l’emploi sur l’ensemble des
                            établissements catholiques de France.</p>

                        <p>Il peut y avoir rupture de contrat si l’établissement (ou la classe) ferme. Cependant, en cas
                            de fermeture, l’Enseignement Catholique s’efforce de retrouver un emploi dans un autre
                            établissement proche (ou sur plusieurs établissements).</p>

                        <p>Vous êtes prioritaire pour un reclassement sur un poste vacant dans votre discipline.</p>
                        <hr/>
                        <h6>Qui sera mon employeur ?</h6>

                        <p>Le ministère de l’Éducation nationale sera votre employeur. Vous serez contractuel de droit
                            public exerçant dans un établissement privé sous contrat avec l’État.</p>

                        <p>Toutefois, votre chef d’établissement sera votre supérieur hiérarchique.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}