{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div class="page-header">
        <div class="container">
            <h2 class="color3">Informations pratiques</h2>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="container mb-40">
        <div class="row mt-20 text-center">
            <img src="https://www.excellencepro.afadec.org/upload/Communique_annulation.png" />
        </div>
        <div class="row">
            <div class="col-sm-7 text-justify">
                <h2>Rendez-vous</h2>
                <p><b>Le 13 mars 2020</b>, de 9h à 18h</p>
                <p>Au <b>Paris Event Center</b> à la porte de la Villette à Paris</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10491.43074552752!2d2.3898842!3d48.8990493!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x298f47184f89a62c!2sParis%20Event%20Center!5e0!3m2!1sfr!2sfr!4v1582639495015!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <p><b>Accès :</b></p>
                <ul class="list-default">
                    <li>Tramway T3B – Station Porte de La Villette<br>
                    Cité des sciences et de l’industrie (6 min)</li>
                    <li>Métro ligne 7 – Station Porte de la Villette (6 min)</li>
                    <li>Bus ligne 150 – Station Magenta (3 min)</li>
                    <li>RER E : Gare Rosa Parks (15 min)</li>
                    <li>Périphérique : Sortie Porte de la Villette (2 min)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}