<h4 class="heading">Nous <span class="color2">contacter</span></h4>
<form id="main-contact-form">
    <div class="form-group">
        <label for="contact-name">Votre nom</label>
        <input id="contact-name" type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label for="contact-email">Votre e-mail</label>
        <input id="contact-email" type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label for="contact-number">Sujet</label>
        <input id="contact-number" type="text" class="form-control" name="subject">
    </div>
    <div class="form-group">
        <label for="contact-message">Votre message</label>
        <textarea id="contact-message" class="form-control" rows="6" name="message"></textarea>
    </div>
    <p id="status"></p>
    <button type="submit" name="submit" class="btn btn-primary">Envoyer</button>
</form>