{% extends 'base.html.twig' %}

{% block pageHeader %}

    <div class="page-header">
        <div class="container">
            <h2 class="color3">L’AFADEC</h2>
            <ul class="breadcrumb">
                <li class="color3">Effacer mon compte</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="container mt-100 mb-40">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="heading">Supprimer <span class="color2">mon compte</span></h4>

                <p>Pour supprimer votre compte, veuillez faire une demande, soit :</p>
                <ul>
                    <li>En envoyant un email à l'adresse <a href="mailto:contact.afadec@gmail.com">contact.afadec@gmail.com</a></li>
                    <li>En expliquant votre demande dans le formulaire présent sur cette page</li>
                </ul>

                <p>Dans les deux cas, pensez bien à confirmer vos nom, prénom, ainsi que l'adresse mail qui vous a servi à vous inscrire sur la plateforme.</p>

            </div>
            <div class="col-sm-4">
                {% include "pagesFixes/nousContacter.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}